body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e9ed00;
    color: rgb(4, 4, 4);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 1rem;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center; 
}

.producto img {
    width: 100%; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción */
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #b8b7b7;
}